# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv/
venv/
.envrc

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# local data / artifacts generated at runtime (but you may choose to keep small sample data)
local_data/raw/
local_data/artifacts/*
!local_data/artifacts/.gitkeep

# logs and temp
*.log

# python build
dist/
build/
*.egg-info/

# secrets / creds
utils/*.key

